<div class="ct-16">

    <h2 class="subtitle-green">Votre trip est confirmé!</h2>
    <p>Nous venons d'envoyer un email à <%= current_user.email %> pour vous donner les détails pratiques</p>
    <p>Merci pour votre achat!<p>

    <div class="text-center">
        <%= link_to 'Accéder à mes roadbooks', roadbook_confirmed_path, class: 'btn-samba py-2', id: 'roadbook-btn' %>
    </div>

</div>