
.btn-samba{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background-color: #075739;

}

.modal-button {
    max-height: 35px;
    max-width: 35px;
    padding: 2px;
}
