// card van

.card-van {
    width: 100%;
    position: relative;
}

.card-van-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.van-card-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.van-card-passengers {
    font-size: 14px;
}

.van-card-description {
    font-size: 16px;
}

.van-card-price {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #fff;
    border-radius: 100px;
    padding: 4px 12px;
}

.van-card-price > p {
    margin: 0;
    font-size: 14px;
}

// card place

.card-place {
  overflow: hidden;
  height: 140px;
  background: white;
  border: 1px solid rgb(235,235,235);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-place-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.place-card-name {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.place-card-address {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.place-card-description {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-place .card-place-infos {
  padding: 10px;
}

// modal
.modal-content {
  padding: 15px;
}

.modal-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.modal-title{
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.place-card-address {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0px;
}

.place-card-description {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}
