.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Abril Fatface', cursive;

}



.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#samba-logo {
  color: $dark-green;
  font-family: 'Abril Fatface', cursive;
}
