.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 4px 12px -12px rgba(0,0,0,0.6);
  padding: 8px 0px;
  // margin: 0 -20px;
}

.navbar-brand {
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.btn-navbar {
  height: 35px;
}

.dropdown {
  list-style: none;
}

.nav-item {
  list-style: none;
}

.navbar-title {
  color: $dark-green;
  font-family: 'Abril Fatface', cursive;
}

#navbar-title {
  color: $dark-green;
}

.navbar-home {
  justify-content: flex-end;
  z-index: 1;
  position: absolute;
  right: 16px;
  padding: 8px 0px;
  // margin: 0 -20px;
}
