.navbar-brand {
  justify-content: space-between;
  background: white;
  font-family: 'Abril Fatface', cursive;
  color: $dark-green;
}



.navbar .navbar-brand img {
  width: 40px;
}

#samba-logo {
  color: $dark-green;
  font-family: 'Abril Fatface', cursive;
}
