.subtitle-green {
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
    color: $dark-green;
}

.homepage-subtitle {
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
    color: $dark-green;
    margin-top: 20px;
    text-align: center;

}
